@font-face {
  font-family: 'Menk-Hawang-Tig';
  src: url('/files/web-resources/MHW8103.ttf')
}

@font-face {
  font-family: 'Menk-Qimed-Tig';
  src: url('/files/web-resources/Menk-Qimed-Tig-MQD8101.ttf')
}

@font-face {
  font-family: 'Menk-QingMing-Tig';
  src: url('/files/web-resources/Menk-QingMing-Tig-MQI8101.ttf')
}

@font-face {
  font-family: 'Menk-Lhundb-Tig';
  src: url('/files/web-resources/MenkLhundbTig.ttf')
}

@font-face {
  font-family: 'MongBaiti';
  src: url('/files/web-resources/monbaiti.ttf')
}

@font-face {
  font-family:'Menksoft2012';
  src: url('/files/web-resources/Menksoft2012.woff') format('woff');
}

body {
	font-family: Songti SC, STZhongsong, Minion Pro, Palatino, Palatino Linotype, Garamond, Ubuntu, AR PL UMing HK, Open Sans, serif;
}

hr {
	background-color: silver;
	height: 1px;
	/* color: #304070; */
}

h2 {
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: outset;
	border-width: 3px;
	border-color: rgb(238,238,238);
	#background-image: linear-gradient(to bottom, #f8f8ff, #c0c0c6);
}



h2~h3:not(:first-of-type) {
    margin-top: 40px;
}

h3 {
	display:inline-block;
	font-weight: 600;
	text-align:center;
	padding: 3px;
	border-style: outset;
	border-width: 3px;
	border-color: rgb(238,238,238);
	background-color:#c0c0f1;
}

ul {
	padding-left: 5px;
}
ul li {
	list-style-position: inside;
}

.mongol-text {
  margin: 10px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  line-height: 140%;
  font-family: Menk-Hawang-Tig;
  font-size: 120%;
  padding: 0px;
}

.mongol-box {
  
  box-sizing: content-box;
  background-color: #E6F2FF;
  margin: 0px;
  overflow-x: scroll;
}

.mongol-border {
  padding: 0;
  max-width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-image: url(/files/web-resources/uul3.svg) 25% round;
}

ruby {
  ruby-align: center;
  white-space: pre;
  ruby-position: over;
}

ruby rt{
  text-align: center;
}


audio {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
}

html body {
	background: #FAF7F4;
}

.menu a {
	background: #FAF7F4;
	border-style: outset;
	border-color: rgb(238,238,238);
	
}

.title { 
  font-size: 15pt; 
  font-weight: normal;
}

.article-meta {
	background: inherit;
}

.tabled-list thead, .tabled-list-no-marker thead {
	display: none;
}
.tabled-list td, .tabled-list-no-marker td{
	padding-top: 0;
	padding-bottom: 0;
}
.tabled-list tr, .tabled-list-no-marker tr{
	background: none;
}
.tabled-list tr td:first-child {
	display: list-item;
	list-style-position: inside;
}
.tabled-list-no-marker tr td:first-of-type {
	padding-left:0;
}
.tabled-list, .tabled-list-no-marker {
	border: none ;
	margin-right: auto;
	margin-left: 0px;
	margin-top: 0.3em;
	margin-bottom: 1em;
}

footer {
    font-size: .85em ;
    line-height: 1.2 ;
    margin-top: 100px ;
    border-top: 1px solid silver ;
    /* padding: 2ex 1em 2ex 1em ; */
    clear: both ;
    text-align: center ;
}
