body {
	font-family: Minion Pro, Palatino, Palatino Linotype, Garamond, Ubuntu, AR PL UMing HK, Open Sans, Microsoft Yahei, Kaiti, Simsun, serif;
}

code {
	font-family: Ubuntu Mono, Fira Mono, Lucida Console, Courier New, Monaco, Kaiti, monospace;
  font-size: 95%;
}

h2 {
	font-family: Minion Pro, Palatino, Palatino Linotype, Microsoft Yahei,  Alegreya, AR PL UMing HK, Open Sans, Arial,sans-serif;
}