/* Checkbox body */

label {
    display: inline-block;
    width: 5.4ex;
    height: 3.2ex;
    margin: .0ex;
    border-radius: 10.0ex;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #E6E9EC;
}

input {
    display: none;
}


/* The toggle */

i {
    height: 2.8ex;
    width: 2.8ex;
    background: #ffffff;
    display: inline-block;
    border-radius: 10.0ex;
    margin-top: .2ex;
    margin-left: .2ex;
    transition: all 0.2s ease-in-out;
    /* -webkit-transition: all 0.2s ease-in-out; */
    /* pointer-events: none; */
    /* box-shadow: 0ex 0ex 0ex 0ex rgba(0, 0, 0, 0); */
}

label:hover>i {
    box-shadow: .0ex .1ex .2ex .0ex rgba(0, 0, 0, 0.20);
    transform: scale(1.01);
}

input:checked+label>i {
    margin-left: 2.4ex;
}

label:active {
    background-color: #A6B9CB;
}

label:active>i {
    width: 3.4ex;
    box-shadow: .0ex .2ex .4ex .0ex rgba(0, 0, 0, 0.20);
}

input:checked+label:active>i {
    margin-left: 1.8ex;
}

input:checked+label {
    background-color: #008FFF;
}

/* nice to have stuff */


.the-amazing-toggle {
    margin: 0;
	display: flex;
	align-items: center;
}

.the-amazing-toggle > span {
    margin-left: 1.0ex;
}


/* Hope you enjoy the toggle as much as I do! Follow me @danielhannih on Twitter! */