body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a {
  text-decoration: none;
/* background: #eee; */
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.article-meta {
  text-align: left;
  text-decoration: ;
  background: white;
  padding: 0px;
/*  border-radius: 5px; */
}

.menu, footer { text-align: center; }

.title { 
  font-size: 16pt; 
  font-weight: normal;
}
.postlink {
	/* text-underline-offset: 2.8px; */
    font-size: 11pt;
}

.date { 
    font-size: 10pt;  
    font-weight: normal;
    margin-left: 0em;
	background-color: initial;
}
.author { 
    font-size: 15pt;  
    font-weight: normal;
    margin-left: 0em;
}

h1 {
	margin: auto;
    letter-spacing: 0px;
    font-size: 15pt; 
    font-weight: normal;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 60px;
    letter-spacing: 0px;
    font-size: 13pt; 
    font-weight: normal;
	background-color: #EEEEEE;
	width: 100%;
	display: block;
	text-align: center;
}

h2:nth-of-type(1){
	margin-top: 20px;
}



h3 {
	margin-top: 0.2em;
	margin-bottom: -0.3em;
    letter-spacing: 0px;
	font-size: 11pt; 
	font-weight: normal;
}

footer a { text-decoration: none; }
hr {
/*  border-style: dashed; */
  border-style: groove;
  color: #ddd;
  width: %;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
img[alt=illustration] { width: 600px; display: block; margin-left: auto;
  margin-right: auto;}

th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }