@import url("lwarp.css") ;

div.sidetoccontainer__{
   position: fixed;
   z-index: 1;
   /* font-size: 1.5em; */
   overflow-y: auto;
   top: 42px;
   width: 15%;
   /* bottom: 0; */
   /* font-size: 90%; */
   display: none;		/**/
}

div.bodycontainer{
    float: right;
    width: 100%;
}

section.textbody{
    margin: 3em 16% 0ex 16%;
}

blockquote p{
    font-size: 100%
}

nav {
    font-family: "DejaVu Sans", "Bitstream Vera Sans",
        Geneva, Verdana, sans-serif ;
    margin-bottom: 4ex ;
    font-size: 1.5em;
}

div.sidetoctitle{
    display: none;
}

nav.sidetoc p a.toccurrent{
    color: Blue;
}

nav.topnavigation{
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background: #FAF7F4;
    text-align:center;
}

a.topnavlink{
    float: right;
    padding-left: 0ex;
    padding-right: 3ex;
}

a.topnavcontents{
    float: left;
    padding-right: 3ex;
    padding-left:1ex;
}

/* trick to ensure link targets are not obscured by header */
h3::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
}

h4::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
}

h5::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
}

a:visited { color: #000080;}

div.titlepage h3{
    font-family: "DejaVu Sans", "Bitstream Vera Sans",
		 Geneva, Verdana, sans-serif ;
    font-size: 2em;
}

hr.titlehrule{
    border: 2px solid;
    border-color: #d68a59;
}

div.titlepage span.textcolor{
    font-size: 170%;
}

div.minipage p{
    text-align: left;
}


