@import url("lwarp_sagebrush.css") ;

div.sidetoccontainer__{
   position: fixed;
   z-index: 1;
   /* font-size: 1.5em; */
   overflow-y: auto;
   top: 42px;
   width: 15%;
   /* bottom: 0; */
   /* font-size: 90%; */
   display: none;		/**/
}

div.bodycontainer{
    float: right;
    width: 100%;
}

section.textbody{
    margin: 0em 8% 0ex 8%;
}

section.textbody > h1 {
    text-align: left;
	font-size: 22pt;
	display: none;
}

div.titlepage > h1 {
	text-align: center;
}


blockquote{
	margin: 5ex auto 5ex auto ;
    padding: 1ex 1em 1ex 1em ;
    overflow-x: auto ;
    background-color: #eeeee7 ;
    border: 1px solid silver ;
    border-radius: 1ex ;
    box-shadow: 3px 3px 3px #808080 ;
}

blockquote p{
    font-size: 100%
}

nav {
    font-family: "DejaVu Sans", "Bitstream Vera Sans",
        Geneva, Verdana, sans-serif, "FangSong", ;
    margin-bottom: 4ex ;
    font-size: 1.5em;
}

div.sidetoctitle{
    display: none;
}


nav.sidetoc p a.toccurrent{
    color: Blue;
}

nav.topnavigation{
	padding: 0.5ex 0em 1ex 0em ;
    display: block;
    width: 100%;
    position: inherit;
    z-index: 1;
    top: 0;
    background: #FAF7F4;
    text-align:center;
}

a.topnavlink{
    /* float: left; */
    left: 10;
    font-weight: bold;
    padding-left: .4em;
    padding-right: 3ex;
}

a.topnavcontents{
    float: left;
    padding-right: 3ex;
    padding-left:1ex;
}

div.book, h1, h2, h3, h4, h5, h6, span.paragraph, span.subparagraph
{
    font-family: "Linux Libertine O", "Hoefler Text", "Garamond",
        "Bembo", "Janson", "TeX Gyre Pagella", "Palatino",
        "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", Times,
        "Times New Roman", "SimHei", serif;
    font-style: normal ;
    font-weight: bold ;
    text-align: left ;
}

/* trick to ensure link targets are not obscured by header */
h3::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
	font-family: "DejaVu Sans";
}

h4::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
}

h5::before{
    display: block; 
    content: " "; 
    margin-top: -42px; 
    height: 42px; 
    visibility: hidden; 
    pointer-events: none;
}

a:visited { color: #000080;}

div.titlepage h3{
    font-family: "DejaVu Sans", "Bitstream Vera Sans",
		 Geneva, Verdana, sans-serif ;
    font-size: 2em;
}

hr.titlehrule{
    border: 2px solid;
    border-color: #d68a59;
}

div.titlepage span.textcolor{
    font-size: 170%;
}

div.minipage p{
    text-align: left;
}

.paragraph .sectionnumber{
    display: none;
}

footer{
	text-align: center;
	
}


